html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, h2, h3, h4{
  margin: 0;
  padding: 0;
}
h2{
  color: #4f3871;
  font-size: 1.3em;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
a{
  text-decoration: none;
  color: #4f3871;
}
.center{
  text-align: center;
}
strong{
  font-weight: 700;
}
section{
  word-spacing: -1px;
  letter-spacing: -1px;
  width: 100%; 
  display: inline-block;
  zoom: 1;
}
section div{
  word-spacing: normal; 
  letter-spacing: normal;
  white-space: normal;
}
input:focus{
  outline: none;
}
/*//////////////////////////////////////////////////////////////////////////*/

body{
  width: 100%;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1em;
  /*background-color: #d6c7ec;*/
  background-color: white;
  zoom: 1;
  color: #775ca0;
}
#wrapper{
  width: 100%;
  display: inline-block;
}
.content-section{
  width: 100%;
  max-width: 62.5em;
  margin: 0 auto
}
h1 img{
  width: 10%;
  height: auto;
}
textarea{
  width: 96%;
  font-size: 1.2em;
  color: #876ead;
  height: 4em;
  padding: 0 2%;
  font-family: 'PT Sans narrow', sans-serif;
  background-color: inherit;
  border: 2px solid #876ead;
  margin-top: 1em;
}
textarea:focus{
  background: none;
}
form select,
form input[type="text"],
form input[type="password"],
form input[type="email"]{
  background-color: inherit;
  font-size: 1.4em;
  border-bottom: 2px solid #4f3871;
  width: 96%;
  height: 2.5em;
  padding: 0 2%;
  border: none;
  font-family: 'PT Sans narrow', sans-serif;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus{
 background-color: #f7f1d7;
}
input[type="text"]:autofill, textarea:autofill, select:autofill{
  background-color: red;
  color: red;
}
.button-section input[type="submit"]{
  border: none;
  height: 3em;
  font-size: 1em;
  width: 100%;
  color: white;
  background-color: #E02A46;
  font-family: 'PT Sans', sans-serif;
  margin: 1em 0 0 0;
  cursor: pointer;
}
form input[type="submit"]:hover{

}
form fieldgroup{
    width: 100%;
    display: inline-block;
}
/*INTRO*/
.intro-section{
  padding-top: 1em;
}
.intro-section p{
  padding: 1em;
}
.intro-section strong{
  font-size: 1.5em;
}
.register-log-menu{
  width: 100%;
}
.register-log-menu a{
  width: 50%;
  float: left;
  padding: 0.7em 0;
  display: block;
  font-size: 1.3em;
}
.register-log-menu a:hover,
.register-log-menu a:active,
.register-log-selected{
  background-color: #E02A46;
  color: white;
}
.homeLog-section{
  width: 96%;
  background-color: #4f3871;
  color: white;
  padding: 1em 2%;
}
.homeLog-section form{
  width: 100%;
}
.homeLog-section form input[type="text"],
.homeLog-section form input[type="password"],
.homeLog-section form input[type="email"]{
  color: #775ca0;
  border-bottom: 2px solid #775ca0;
}
.homeLog-section form input[type="text"]:focus,
.homeLog-section form input[type="password"]:focus,
.homeLog-section form input[type="email"]:focus{
  background: none;
  color: white;
  border-bottom: 2px solid white;
}
.fieldinput label.error-validation,
label.error{
  font-size: 0.8em;
  padding: 0.2em 0.3em;
  background-color: red;
  color: white;
  border-radius: 0.2em;
  position: absolute;
  left: 0;
  bottom: -0.5em;
}
.fieldinput{
  position: relative;
    width: 90%;
    margin: 0 auto 0.5em auto;
}
.facebook-log{
  margin: 2em 0;
}
.facebook-log a{
  color: #4f3871;
  padding: 0.2em 0.6em;
  border-radius: 0.2em;
  background-color: white;
  display: block;
  width: 50%;
  margin: 0 auto 0.3em auto;
}
.facebook-log p{
  color: #d6c7ec;
}
.agreement{
  display: inline-block;
}
.agreement a{
  color: white;
  display: block;
}
.icon-check{
  width: 25px;
  height: 25px;
  fill: white;
  float: left;
  margin-right: 0.5em;
}
.icon-check:hover{
  fill: #d6c7ec;
}
.agreement:hover,
.agreement a:hover{
  color: #d6c7ec;  
}
#after-registration-message{
  color: white;
  width: 86%;
  margin: 0 auto;
  padding: 2%;
  background-color: #9981BD;
  font-size: 1.2em;
  border-radius: 0.2em;
}
/*submenu*/
ul.submenu{
  position: absolute;
  background-color: white;
  width: 60%;
  top: 3.6em;
  right: 0;
  z-index: 2;
  border: 1px solid #4f3871;
}
ul.submenu li{
  width: 100%;
  display: inline-block;
}
ul.submenu li a{
  text-align: right;
  width: 94%;
  padding: 3%;
  display: block;
}
ul.submenu li a:hover{
 background-color: #4f3871;
 color: white; 
}
/*RESPONSIVE*/
@media (min-width: 600px){
 body{
  background-color: #F8F3FF;
 }
 section.intro-section,
 form#mem-user-signin-form{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
 }
 .homeLog-section .button-section{
  width: 90%;
  margin: 0 auto;
 }
 ul.submenu{
  width: 40%;
  top: 4.4em;
 }
}


